<center><img src="https://www.muraldecal.com/en/img/mag309-jpg/folder/products-listado-merchanthover/wall-stickers-for-kids-hamburger.jpg alt="burger" height="250" width="250"></center>
<center><h1>Eat-Da-Burger!</h1></center>
  <hr>
  <h5>Click on the Burger to Devour it!</h5>
  <hr>
    <div class="row">
      <div class="col-md-6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>
  </div>
<right>
      <div class="col-md-6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
 
</right>
<center><h3>Type a Burger on the line below, the click Submit!</h3>
<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
     
      <div class="form-group input-field">
								<label class="red-text text-darken-1" for="bg"></label>
								<input type="text" id="bg" name="name">
            
							</div>
      <button type="submit" class="addBurgerButton">Submit</button>
    </form>
  </div>
</div>
</center>